.add_btn{
    text-align: right;
}
.form-group{
    margin: 1rem;
}

.left span{
    font-weight: 300;
    font-size: 1.5rem;
}
.logo{
    font-size: 4rem;
}

.right p{
    font-weight: 900;
}
.right span{
    font-weight: 400;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .box {

        display: flex;
        flex-direction: column;
    }
    .left h3{
        margin-left: 0;
        font-size: 20px;
    }
    .left span{
        font-size: 20px;
    }
  }